.container {
  padding-bottom: 30px;
}

.red {
  color: var(--pico-primary);
}

.btn-icon {
  height: 24px;
}

.discord-btn[role="button"] {
  --pico-border-color: #5662f6;

  align-items: center;
  display: inline-flex;
  gap: 0.5rem;
  background-color: #5662f6;
}

.discord-btn:hover {
  --pico-border-color: #4753f5;

  background-color: #4753f5;
}
